<div class="container">
    <div class="form-container">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="input-group">
          <input type="text" name="usuario" [(ngModel)]="usuario" placeholder="Usuario" required>
        </div>
        <div class="input-group">
          <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required>
        </div>
        <button type="submit" [disabled]="!form.valid">Iniciar sesión</button>
        <p class="register-link">¿No tienes cuenta? <a [routerLink]="['/registrarse']">Regístrate</a></p>
      </form>
    </div>
  </div>